.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    height: 250px;
    width: 700px;
    background-color: rgba(110,153,244,255);
    margin-top: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#file-input {
    display: none;
}

#file-input-label {
    background-color: rgba(248,250,252,255);
    padding: 1em 3em;
    border-radius: 0.5em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#file-input-label:hover {
    background-color: rgb(217, 217, 217);
}

.image-container {
    margin: 2em 0;
    width: 800px;

    display: flex;
    justify-content: space-around;
}

.preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-image {
    max-width: 300px;
    max-height: 300px;
}

.compare-mode {
    width: 750px;
    border: none;

    display: block;
}

.compare-image {
    position: absolute;
    width: 350px;

    transition: transform 3s ease;
}

.move-right {
    transform: translateX(400px);
}

.button {
    background-color: rgba(110,153,244,255);
    border-radius: 5px;
    cursor: pointer;
    padding: 1em 2em;
}

.button:hover {
    background-color: rgb(194, 213, 254);
}