.navbar {
    position: sticky;
    width: 100%;
    padding: 1em 2em;
    border: 1px solid rgba(0, 0, 0, 0.201);
    z-index: 100;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}